<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-incapsula-index") %>>
          <a href="/docs/providers/incapsula/index.html">Incapsula Provider</a>
        </li>

        <li<%= sidebar_current("docs-incapsula-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-incapsula-resource-acl-security-rule") %>>
              <a href="/docs/providers/incapsula/r/acl_security_rule.html">incapsula_acl_security_rule</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-custom-certificate") %>>
              <a href="/docs/providers/incapsula/r/custom_certificate.html">incapsula_custom_certificate</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-data-center") %>>
              <a href="/docs/providers/incapsula/r/data_center.html">incapsula_data_center</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-data-center-server") %>>
              <a href="/docs/providers/incapsula/r/data-center-server.html">incapsula_data_center_server</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-resource-incap-rule") %>>
              <a href="/docs/providers/incapsula/r/incap_rule.html">incapsula_incap_rule</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-resource-site") %>>
              <a href="/docs/providers/incapsula/r/site.html">incapsula_site</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-resource-waf-security-rule") %>>
              <a href="/docs/providers/incapsula/r/waf_security_rule.html">incapsula_waf_security_rule</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
