<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>
        <li<%= sidebar_current("docs-incapsula-index") %>>
          <a href="/docs/providers/incapsula/index.html">Incapsula Provider</a>
        </li>
        <li<%= sidebar_current("docs-incapsula-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-incapsula-resource-account") %>>
              <a href="/docs/providers/incapsula/r/account.html">incapsula_account</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-resource-account-policy-association") %>>
              <a href="/docs/providers/incapsula/r/account_policy_association.html">incapsula_account</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-resource-acl-security-rule") %>>
              <a href="/docs/providers/incapsula/r/acl_security_rule.html">incapsula_acl_security_rule</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-resource-api-security-api-config") %>>
              <a href="/docs/providers/incapsula/r/api_security_api_config.html">incapsula_api_security_api_config</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-resource-api-security-endpoint-config") %>>
              <a href="/docs/providers/incapsula/r/api_security_endpoint_config.html">incapsula_api_security_endpoint_config</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-resource-api-security-site-config") %>>
              <a href="/docs/providers/incapsula/r/api_security_site_config.html">incapsula_api_security_site_config</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-application-delivery") %>>
               <a href="/docs/providers/incapsula/r/application_delivery.html">incapsula_application_delivery</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-cache-rule") %>>
              <a href="/docs/providers/incapsula/r/cache_rule.html">incapsula_cache_rule</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-custom-certificate") %>>
              <a href="/docs/providers/incapsula/r/custom_certificate.html">incapsula_custom_certificate</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-data-centers-configuration") %>>
              <a href="/docs/providers/incapsula/r/data_centers_configuration.html">incapsula_data_centers_configuration</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-data-center") %>>
              <a href="/docs/providers/incapsula/r/data_center.html">incapsula_data_center (deprecated)</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-data-center-server") %>>
              <a href="/docs/providers/incapsula/r/data_center_server.html">incapsula_data_center_server (deprecated)</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-resource-incap-rule") %>>
              <a href="/docs/providers/incapsula/r/incap_rule.html">incapsula_incap_rule</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-resource-notification_policy") %>>
              <a href="/docs/providers/incapsula/r/notification_policy.html">incapsula_notification_policy</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-resource-origin-pop") %>>
              <a href="/docs/providers/incapsula/r/origin_pop.html">incapsula_origin_pop (deprecated)</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-resource-policy") %>>
              <a href="/docs/providers/incapsula/r/policy.html">incapsula_policy</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-resource-policy-asset-association") %>>
              <a href="/docs/providers/incapsula/r/policy_asset_association.html">incapsula_policy_asset_association</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-resource-site-security-rule-exception") %>>
              <a href="/docs/providers/incapsula/r/security-rule-exception.html">incapsula_security-rule-exception</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-resource-site") %>>
              <a href="/docs/providers/incapsula/r/site.html">incapsula_site</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-resource-site-monitoring") %>>
              <a href="/docs/providers/incapsula/r/site_monitoring.html">incapsula_site_monitoring</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-resource-subaccount") %>>
               <a href="/docs/providers/incapsula/r/subaccount.html">incapsula_subaccount</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-resource-txt-record") %>>
              <a href="/docs/providers/incapsula/r/txt_record.html">incapsula_txt_record</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-resource-waf-security-rule") %>>
              <a href="/docs/providers/incapsula/r/waf_security_rule.html">incapsula_waf_security_rule</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-incapsula-data") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-incapsula-data-data-center") %>>
              <a href="/docs/providers/incapsula/d/data_center.html">incapsula_data_center</a>
            </li>
            <li<%= sidebar_current("docs-incapsula-data-account-data") %>>
               <a href="/docs/providers/incapsula/d/account_data.html">incapsula_account_data</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>
  <%= yield %>
  <% end %>